.block_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 230px;
  font-size: 20px;
}
.footer_section p {
}
.section4 {
  text-align: end;
}
.firstP {
  color: rgb(172, 172, 172);
}
.non {
  color: rgba(240, 248, 255, 0);
}
.footer_section ul {
  display: flex;
  justify-content: end;
}
.section4 li img {
  height: 30px;
}
.section4 li {
  list-style-type: none; /* Убираем маркеры */
}

.end {
  font-size: small;
}
a{
    color: #ffffff;
}
.ends{ 
  text-align: end;


}